form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  float: left;
  margin-bottom: 15px;
}

button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  align-self: center;
  width: 100px;
}

input {
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin: 0 0 25px 0;
}

.formSection {
  display: flex;
  flex-direction: column;
  background-color: #1e40af;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  color: white;
  font-family: "Roboto-mono", sans-serif;
}

.formSection > h3 {
  border-bottom: 1px solid;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  background-color: #e5e7eb;
  padding: 0px 15px;
  gap: 15px;
  font-family: "Roboto-mono", sans-serif;
}

.left-info,
.right-info {
  padding: 10px 25px;
}

.left-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.experience-section {
  background-color: #f3f4f6;
  padding: 15px 25px;
  font-family: "Roboto", sans-serif;
}

.education-output > :first-child {
  font-weight: 500;
}

.work-output > :first-child {
  font-weight: 500;
}

@media (min-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 150px;
  }

  form {
    flex-direction: row;
    gap: 25px;
  }

  .contact-output {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}
